body {
    font-family: "DM Sans", sans-serif;
    background: linear-gradient(349deg, #12056A 2.44%, #09092E 14.03%, #000617 30.32%, rgba(0, 6, 23, 0.00) 32.63%), linear-gradient(164deg, #12056A 1.15%, #09092E 18.57%, #000617 34.61%);
    background-repeat: no-repeat;
    min-height: 100vh;
}


input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type='number'],
input[type="number"]:hover,
input[type="number"]:focus {
    appearance: none;
    -moz-appearance: textfield;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}
ul,
li {
    list-style: none;
}

button {
    border: none;
    cursor: pointer;
    background: none;
}

.wrapper {
    width: 1200px;
    margin: 0 auto;
}

.btn {
    padding: 8.4px 21px;


    &-log {
        border-radius: 36.75px;
        background: rgba(255, 255, 255, 0.10);
        color: #FFF;
        font-size: 12.6px;
        font-weight: 500;

        &:hover {
            background: rgba(255, 255, 255, 0.236);
            box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.236);
        }
    }

    &-sign {
        border-radius: 36.75px;
        background: #0267FF;
        color: #FFF;
        font-size: 12.6px;
        font-weight: 500;

        &:hover {
            background: #2478f6;
            box-shadow: 0px 0px 15px #2478f6;
        }
    }

    &-getStarted {
        margin: 0 auto;
        padding: 16.8px 50.4px;
        gap: 10.5px;
        border-radius: 58.8px;
        background: #0267FF;
        color: #FFF;
        font-size: 18.9px;
        font-weight: 500;

        &:hover {
            background: #2478f6;
            box-shadow: 0px 0px 15px #2478f6;
        }
    }
}

/* Header */

header {
    display: flex;
    align-items: center;
    width: 1300px;
    margin: 0px auto;
    position: sticky;
    top: 10px;
    z-index: 99;
}

.header-menu {
    margin-left: 560px;

    &_main {
        display: inline-flex;
        align-items: flex-start;
        gap: 31.5px;

        & li:hover .drop {
            display: block;
            animation: headerDrop 0.3s forwards;
        }

        & button {
            display: flex;
            align-items: flex-end;
            gap: 4.2px;
            color: #8683A4;
            font-size: 14.7px;
            font-weight: 400;
            border: none;
            cursor: pointer;
            transition: 0.3s;
        }

        & i {
            width: 14.7px;
            height: 14.7px;
        }
    }

    &_user {
        display: inline-flex;
        align-items: flex-start;
        gap: 12.6px;
        margin-left: 100px;
    }
}

.header-menu_main button:hover,
.nav-buy_crypto:hover {
    color: #b2afaf;
}

.nav-buy_crypto {
    display: flex;
    align-items: flex-end;
    gap: 4.2px;
    color: #8683A4;
    font-size: 14.7px;
    font-weight: 400;
    transition: 0.5s;
}

.drop {
    display: none;
    position: absolute;
    background: #0e0e52;
    width: 100px;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.2);
    z-index: 97;

    li {
        margin-bottom: 4px;
        z-index: 98;
        width: 100%;
        cursor: pointer;
    }

    a {
        color: #8683A4;
        display: block;

        &:hover {
            color: #fff;
            transition: 0.1s;
        }
    }
}


/* 1 Section */

section {
    display: flex;
    margin: 110px auto 0;
    width: 1200px;

}

.wrapper {
    &-main {
        & span {
            width: 720.3px;
            font-size: 87.6px;
            font-style: normal;
            font-weight: 100;
            letter-spacing: 4px;
            background: linear-gradient(92deg, #FFF 3.42%, rgba(255, 255, 255, 0.93) 56.55%, rgba(255, 255, 255, 0.00) 111.05%);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }

        & p {
            color: rgba(255, 255, 255, 0.70);
            font-size: 21px;
            font-style: normal;
            font-weight: 400;
            line-height: 31.5px;
            margin-top: 25px;
        }

        &_anim span {
            display: inherit;
        }
    }

    &-started-btn {
        margin-top: 60px;
    }

    &-company {
        margin-top: 90px;
    }

    &-graphic_btn {
        display: flex;
        gap: 10.5px;
        margin: 30px 0px 0 18px;
    }
}


.btn {

    &-exchange,
    &-trade,
    &-receive,
    &-spend {
        display: flex;
        padding: 10.5px 16.8px;
        justify-content: center;
        align-items: center;
        border-radius: 56.7px;
        background: #11A3FF;
        color: #FFF;
        font-size: 14.7px;
        font-weight: 500;

        &:hover {
            background: #41b2f8;
            box-shadow: 0px 0px 15px #41b2f8;
        }
    }

    &-spend {
        background: #0267FF;

        &:hover {
            background: #2478f6;
            box-shadow: 0px 0px 15px #2478f6;
        }
    }

    &-receive {
        background: #F81;

        &:hover {
            background: rgb(248, 156, 63);
            box-shadow: 0px 0px 15px rgb(248, 156, 63);
        }
    }

    &-trade {
        background: #9111FF;

        &:hover {
            background: #9e35f9;
            box-shadow: 0px 0px 15px #9e35f9;
        }
    }
}


/* 2 Section */

.wrapper {
    &-wallet {
        color: #FFF;
        text-align: center;
        font-size: 50.4px;
        font-weight: 300;
        letter-spacing: 3px;

        &_list {
            display: flex;
            justify-content: space-evenly;
            margin-top: 45px;
        }
    }

    &-btc {
        width: 309.75px;
        height: 219.45px;
        flex-shrink: 0;
        border-radius: 24.15px;
        background: #171D33;
        box-shadow: 0px 0px 20px #F81;
        padding: 25px 23px;
    }

    &-eth {
        width: 309.75px;
        height: 219.45px;
        flex-shrink: 0;
        border-radius: 24.15px;
        background: #171D33;
        box-shadow: 0px 0px 20px #9111FF;
        padding: 25px 23px;
    }

    &-xrp {
        width: 309.75px;
        height: 219.45px;
        flex-shrink: 0;
        border-radius: 24.15px;
        background: #171D33;
        box-shadow: 0px 0px 20px #1BF;
        padding: 25px 23px;
    }
}

main {
    margin-top: 190px;
}


.crypto {
    &-name {
        display: flex;
        justify-content: space-between;
        align-items: center;

        & p {
            color: #FFF;
            font-size: 18.9px;
            font-weight: 500;
        }

        & span {
            color: rgba(255, 255, 255, 0.70);
            font-size: 14.7px;
            font-weight: 400;
        }
    }

    &-price {
        color: #FFF;
        font-family: Rajdhani;
        font-size: 37.8px;
        font-weight: 600;
        margin-top: 28px;
    }

    &-vector {
        display: flex;
        justify-content: space-between;
        margin-top: 28px;

        & span {
            display: inline-flex;
            padding: 6.3px 10.5px;
            color: #fff;
            justify-content: center;
            align-items: center;
            border-radius: 56.7px;
            height: 34px;
        }

        &_btc span {
            background: #F81;
        }

        &_eth span {
            background: #9111FF;
        }

        &_xrp span {
            background: #1BF;
        }

    }
}


.btn-connect_wallet {
    display: flex;
    justify-content: center;

    & a {
        height: 45px;
        display: flex;
        padding: 9.45px 25.2px;
        margin-top: 65px;
        align-items: center;
        border-radius: 36.75px;
        border: 1.05px solid #0267FF;
        box-shadow: 0px 0px 10px #0267FF;
        color: #0267FF;
        font-size: 16.8px;
        font-weight: 500;

        &:hover {
            box-shadow: 0px 0px 15px #0267FF;
            background: #09092E;
        }
    }
}

/* 3 Section */

.wrapper-market {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 190px;
}

.market-info {
    & span {
        color: #FFF;
        font-size: 37.8px;
        font-weight: 300;
    }

    p {
        color: rgba(255, 255, 255, 0.70);
        font-size: 16.8px;
        font-weight: 400;
        margin-top: 30px;
        line-height: normal;
    }

    a {
        padding: 15.75px 50.4px;
        border-radius: 58.8px;
        background: #0267FF;
        color: #FFF;
        font-size: 14.7px;
        font-weight: 500;
        margin-top: 25px;

        &:hover {
            background: #2478F6;
            box-shadow: 0px 0px 15px #2478f6;
        }
    }

}

.market-btn_start {
    margin-top: 45px;
}

.crypto-monitoring {
    padding: 20px 30px;
    width: 831.6px;
    height: 320.25px;
    flex-shrink: 0;
    border-radius: 32.55px;
    border: 2.1px solid #242938;

    &_header,
    &_info {
        display: flex;
        justify-content: space-between;
        align-items: center;

    }

    &_header {
        p {
            color: rgba(255, 255, 255, 0.70);
        }
    }

    &_info {
        height: 70px;

        p {
            color: #fff
        }
    }
}

.monitoring-header_name {
    width: 220px;
}

.monitoring-info_nameinfo {
    width: 220px;
    display: flex;
    align-items: center;
    gap: 10px;

    span {
        color: rgba(255, 255, 255, 0.70);
    }

}

.monitoring-header,
.monitoring-info {
    &_position {
        width: 35px;
    }

    &_price {
        width: 135px;
    }

    &_change {
        width: 130px;
    }

    &_chart {
        width: 130px;
    }

    &_trade {
        width: 90px;
        display: flex;
        justify-content: center;

        button {
            padding: 9.45px 25.2px;
            border-radius: 56.7px;
            border: 1.05px solid #0267FF;
            color: #FFF;
            font-size: 14.7px;
            font-weight: 400;
            transition: 0.3s;

            &:hover {
                background: #0267FF;
                box-shadow: 0px 0px 15px #0267FF;
            }
        }
    }
}


/* 4 Section */

.statystic {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 84px;
    margin-top: 189px;

    &-style {
        display: flex;
        flex-direction: column;

        & span {
            color: #FFF;
            text-align: center;
            font-size: 50.4px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
        }

        & p {
            color: rgba(255, 255, 255, 0.70);
            text-align: center;
            font-size: 18.9px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }
    }
}


.wrapper-steps {
    margin-top: 189px;
}

.steps-header {
    display: flex;
    justify-content: center;

    & p {
        color: #FFF;
        font-size: 50.4px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 3px;
    }
}

.step {
    display: flex;
    justify-content: space-around;

    &-list {
        display: flex;
        align-items: center;
        gap: 40px;
        margin-top: 66px;
    }

    &-number p {
        width: 78px;
        height: 66px;
        color: rgba(255, 255, 255, 0.20);
        font-size: 50.4px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    &-info {
        & p {
            color: #FFF;
            font-size: 25.2px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
        }

        & span {
            color: rgba(255, 255, 255, 0.80);
            font-size: 18.9px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }

    }

    &-btn {
        margin-top: 84px;

        & a {
            padding: 16.8px 50.4px;
            flex-shrink: 0;
            border-radius: 37.8px;
            background: #0267FF;
            color: #FFF;
            font-size: 18.9px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;

            &:hover {
                background: #2478f6;
                box-shadow: 0px 0px 15px #2478f6;
            }
        }
    }
}


.bottom-box {
    width: 1098.3px;
    height: 420px;
    flex-shrink: 0;
    border-radius: 46.2px;
    background: linear-gradient(101deg, #171D33 7.82%, rgba(23, 29, 51, 0.00) 111.93%);
    margin: 189px auto 0px;
    display: flex;
    justify-content: center;
    align-items: center;

    &_info {
        display: flex;
        flex-direction: column;
        gap: 20px;
        letter-spacing: 3px;

        & p {
            color: #FFF;
            text-align: center;
            font-size: 50.4px;
            font-style: normal;
            font-weight: 400;
            line-height: 58.8px;
        }

        & span {
            color: rgba(255, 255, 255, 0.70);
            text-align: center;
            font-size: 16.8px;
            font-style: normal;
            font-weight: 400;
            line-height: 29.4px;
            letter-spacing: 0.168px;
        }
    }

    &_btn {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 40px;

        & a {
            padding: 16.8px 50.4px;
            color: #FFF;
            font-size: 18.9px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            border-radius: 58.8px;
            background: #0267FF;

            &:hover {
                background: #2478f6;
                box-shadow: 0px 0px 15px #2478f6;
            }
        }
    }
}

/* footer */

.ul-footer {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    margin-top: 28px;
    gap: 15px;
}


.wrapper-footer {
    display: flex;
    justify-content: space-between;
    margin-top: 160px;
}

.footer-left_info {
    gap: 21px;
    display: flex;
    flex-direction: column;

    & p {
        color: #FFF;
        font-size: 31.5px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    & span {
        color: rgba(255, 255, 255, 0.80);
        font-size: 16.8px;
        font-style: normal;
        font-weight: 400;
        line-height: 27.3px;
    }
}

.footer {
    &-form {
        display: flex;
        gap: 10px;
    }

    &-sub {
        display: flex;
        align-items: center;
        margin-top: 37px;
    }

    &-mail {
        border-radius: 105px;
        border: 1.05px solid rgba(229, 242, 239, 0.33);
        background: none;
        width: 241.5px;
        height: 42px;
        flex-shrink: 0;
        color: #fff;
        padding-left: 10px;

        &:focus {
            color: #fff;
            outline: 0;
            border: none;
            border-bottom: 2px solid rgba(229, 242, 239, 0.54);
            border-radius: 0%;

            &::placeholder {
                font-size: 10px;
                transform: translateY(-18px);
            }
        }

        &::placeholder {
            transition: 0.6s;
            color: rgba(229, 242, 239, 0.54);
            padding: 10px 10px;
            font-size: 16.8px;
            font-style: normal;
            font-weight: 500;
            line-height: 23.1px;
        }
    }

    &-btn {
        padding: 10px 22px;
        flex-shrink: 0;
        border-radius: 105px;
        background: #0267FF;
        color: #FFF;
        text-align: center;
        font-size: 16.8px;
        font-style: normal;
        font-weight: 500;
        line-height: 23.1px;
        border: none;
        cursor: pointer;

        &:hover {
            background: #2478f6;
            box-shadow: 0px 0px 15px #2478f6;
        }
    }

    &-right {
        display: inline-flex;
        align-items: flex-start;
        gap: 60.9px;

        &_info {
            & p {
                width: 139.25px;
                color: #FFF;
                font-size: 18.9px;
                font-style: normal;
                font-weight: 700;
                line-height: 29.4px;
            }

            & a {
                color: #DDD;
                font-size: 16.8px;
                font-style: normal;
                font-weight: 400;
                line-height: 27.3px;
                transition: all 0.3s ease;

                &:hover {
                    padding-left: 8px;
                }
            }
        }

    }

    &-line {
        height: 3px;
        margin: 80px auto 10px;
        background: linear-gradient(270deg, #1565C0, #250eba, #12056A);
        animation: footerLine 2s ease infinite;
        border-radius: 1px;
        background-size: 500% 500%;
    }

    &-bottom {
        display: flex;
        justify-content: space-between;
        margin: 42px auto 42px;

        &_left p {
            color: #E8F9F5;
            font-size: 14.7px;
            font-style: normal;
            font-weight: 400;
            line-height: 27.3px;
        }

        &_right {
            display: flex;
            gap: 17px;

            & a,
            i {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 35.7px;
                height: 35.7px;
                flex-shrink: 0;
                padding: 8.4px;
                border-radius: 8.4px;
                background: rgba(255, 255, 255, 0.15);
                color: #fff;
                transition: all 0.3s ease;

                &:hover {
                    background-color: #0267FF;
                    color: #fff;
                }
            }
        }
    }

}

@keyframes footerLine {
    0% {
        background-position: 0 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0 50%;
    }
}


@keyframes headerDrop {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}